<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bnorm.barkeep"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BarkeepApp"
        android:allowBackup="true"
        android:icon="@drawable/barkeep_icon"
        android:label="@string/app_name"
        android:theme="@style/Barkeep">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Barkeep.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.recipe.edit.EditRecipeActivity"
            android:label="@string/title_activity_create_recipe"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Barkeep.Recipe.Edit">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.recipe.search.SearchRecipeActivity"
            android:label="@string/title_activity_search_recipe"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Barkeep.Recipe.Search">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value="activity.SearchResultActivity" />

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.recipe.ViewRecipeActivity"
            android:parentActivityName=".activity.recipe.search.SearchRecipeActivity"
            android:theme="@style/Barkeep.Recipe.Details">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.recipe.search.SearchRecipeActivity" />
        </activity>
        <activity
            android:name=".activity.book.BookDetailActivity"
            android:label="@string/title_book_detail"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Barkeep.Book.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bnorm.barkeep.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.bar.BarDetailActivity"
            android:label="@string/title_bar_detail"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Barkeep.Bar.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bnorm.barkeep.activity.MainActivity" />
        </activity>
    </application>

</manifest>
